aiohttp
aiomysql
async-timeout
attrs
cffi
chardet
cryptography
cycler
dateparser
discord.py
idna
kiwisolver
matplotlib
multidict
numpy
pycparser
PyMySQL
pyparsing
pyshorteners
python-dateutil
pytz
regex
six
tzlocal
websockets
yarl